@import 'bootstrap';

h1 {
	text-align: center;
	font-family: helvetica;
	color: grey;
}
.ceos {
	margin-top: 20px;
	img {
		height: 150px;
		width: 150px;

	}
	
}

.info1 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info2 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info3 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info4 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info5 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info6 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info7 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}


.develop {
	margin-top: 30px;
	img {
		height: 150px;
		width: 150px;
	}
}

.uxd {
	margin-top: 30px;
	img {
		height: 150px;
		width: 150px;
	}
}















  .team2 {
    h1 {
      text-align: center;
  font-family: helvetica;
  color: grey;
    }
    .col-md-2 {
      margin-top: 5px;
    }
    .ceos {
  margin-top: 20px;
  img {
    height: 150px;
    width: 160px;

  }
  .info1 {
  background-color: #3986c0;
  height: 150px;
  margin-top: -10px;
  width: 160px;
  margin-left: -30px;
  h5 {
    color: white;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    font-weight: bold;
  }
  p {
    color: white;
    font-size: 12px; 
    padding-left: 10px;
  }
  
  i {
    color: white;
    margin-left: 25px;
    margin-top: 8px;
    font-size: 16px;
  }
}
 .info2 {
  background-color: #3986c0;
  height: 150px;
  margin-top: -10px;
  width: 160px;
  margin-left: -30px;
  h5 {
    color: white;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    font-weight: bold;
  }
  p {
    color: white;
    font-size: 12px; 
    padding-left: 10px;
  }
  
  i {
    color: white;
    margin-left: 25px;
    margin-top: 8px;
    font-size: 16px;
  }
}

  
}

.develop {
  margin-top: 20px;
  img {
    height: 150px;
    width: 160px;
}
 .info3 {
  background-color: #3986c0;
  height: 150px;
  margin-top: -10px;
  width: 160px;
  margin-left: -30px;
  h5 {
    color: white;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    font-weight: bold;
  }
  p {
    color: white;
    font-size: 12px; 
    padding-left: 10px;
  }
  
  i {
    color: white;
    margin-left: 25px;
    margin-top: 8px;
    font-size: 16px;
  }
}  
.info4 {
  background-color: #3986c0;
  height: 150px;
  margin-top: -10px;
  width: 160px;
  margin-left: -30px;
  h5 {
    color: white;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    font-weight: bold;
  }
  p {
    color: white;
    font-size: 12px; 
    padding-left: 10px;
  }
  
  i {
    color: white;
    margin-left: 25px;
    margin-top: 8px;
    font-size: 16px;
  }
}  
.info5 {
  background-color: #3986c0;
  height: 150px;
  margin-top: -10px;
  width: 160px;
  margin-left: -30px;
  h5 {
    color: white;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    font-weight: bold;
  }
  p {
    color: white;
    font-size: 12px; 
    padding-left: 10px;
  }
  
  i {
    color: white;
    margin-left: 25px;
    margin-top: 8px;
    font-size: 16px;
  }
}  
}

.uxd {
  margin-top: 20px;
  img {
    height: 150px;
    width: 160px;
}
 .info6 {
  background-color: #3986c0;
  height: 150px;
  margin-top: -10px;
  width: 160px;
  margin-left: -30px;
  h5 {
    color: white;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    font-weight: bold;
  }
  p {
    color: white;
    font-size: 12px; 
    padding-left: 10px;
  }
  
  i {
    color: white;
    margin-left: 25px;
    margin-top: 8px;
    font-size: 16px;
  }
}  
.info7 {
  background-color: #3986c0;
  height: 150px;
  margin-top: -10px;
  width: 160px;
  margin-left: -30px;
  h5 {
    color: white;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    font-weight: bold;
  }
  p {
    color: white;
    font-size: 12px; 
    padding-left: 10px;
  }
  
  i {
    color: white;
    margin-left: 25px;
    margin-top: 8px;
    font-size: 16px;
  }
}  
}



@media (min-width: 50px) and (max-width: 350px) {
    .ceos {
      .info1 {
        margin-left: 0px;
      }
      .info2 {
        margin-left: 0px;
      }
    }
    .develop {
      .info3 {
        margin-left: 0px;
      }
      .info4 {
        margin-left: 0px;
      }
      .info5 {
        margin-left: 0px;
      }
    }
    .uxd {
      .info6 {
        margin-left: 0px;
      }
      .info7 {
        margin-left: 0px;
      }
    }
  }

  @media (min-width: 351px) and (max-width: 990px) {
    .ceos {
      .info1 {
        margin-left: 160px;
        margin-top: -160px;
      }
      .info2 {
        margin-left: 160px;
        margin-top: -160px;
      }
    }
    .develop {
       .info3 {
        margin-left: 160px;
        margin-top: -160px;
      }
       .info4 {
        margin-left: 160px;
        margin-top: -160px;
      }
       .info5 {
        margin-left: 160px;
        margin-top: -160px;
      }
    }
     .uxd {
        .info6 {
        margin-left: 160px;
        margin-top: -160px;
      }
      .info7 {
        margin-left: 160px;
        margin-top: -160px;
      }
     }
  }

}














.team3 {
  .ceos {
  img {
    border-radius: 100px;
    position: absolute;
    z-index: 1;
  }
  .info1 {
     background-color: white;
     border: 1px solid #3986c0;
     height: 150px;
     margin-top: 0px;
     width: 250px;
     margin-left: -110px;
     border-radius: 0px 90px 90px 0px;
  h5 {
    color: #3986c0;
    text-align: left;
    padding-top: 0px;
    padding-left: 62px;
    font-weight: bold;
  }
  p {
    color: #3986c0;
    font-size: 12px; 
    padding-left: 92px;
    padding-right: 20px;
  }
  
  i {
    color: #3986c0;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 16px;
  }
  .contacts {
    margin-left: 70px;

  }
  }
}
}










    .column {
       @include outer-container;
    }
    .column6 {
       @include span-columns(6);
    }

    .column4 {
       @include span-columns(4);
    }

    .column2 {
       @include span-columns(2);
    }

    .column8 {
       @include span-columns(8);
    }

    .column10 {
       @include span-columns(10);
    }

    .column3 {
       @include span-columns(3);
    }

    .column5 {
       @include span-columns(5);
    }

    .column1 {
       @include span-columns(1);
    }

    .column9 {
       @include span-columns(9);
    }

    .column7 {
       @include span-columns(7);
    }

  
