@import 'bootstrap';

h1 {
	text-align: center;
	font-family: helvetica;
	color: grey;
}
.ceos {
	margin-top: 20px;
	img {
		height: 150px;
		width: 150px;

	}
	
}

.info1 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info2 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info3 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info4 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info5 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info6 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}

.info7 {
	background-color: #3986c0;
	height: 150px;
	margin-left: -13px;
	margin-top: -10px;
	h5 {
		color: white;
		text-align: left;
		padding-top: 8px;
		padding-left: 10px;
		font-weight: bold;
	}
	p {
		color: white;
		font-size: 12px; 
		padding-left: 10px;
	}
	
	i {
		color: white;
		margin-left: 25px;
		margin-top: 8px;
		font-size: 16px;
	}
}


.develop {
	margin-top: 30px;
	img {
		height: 150px;
		width: 150px;
	}
}

.uxd {
	margin-top: 30px;
	img {
		height: 150px;
		width: 150px;
	}
}

@media (min-width: 700px) and (max-width: 900px) {
    .ceos {
      width: 900px;
      margin-left: -70px;
    }
    .info {
      
    }
    .develop {
      
    }
     .uxd {
      background-size: 60%;
       width: 900px;
      margin-left: -70px;
    }
  }

  @media (min-width: 300px) and (max-width: 700px) {
    .ceos {
    	.emplo2 {
    		margin-top: 170px;
    		margin-left: -145px;
    	}
    	.info1 {
    		margin-left: 76px;
    		width: 150px;

    	}
    	.info2 {
    		margin-top: 170px;
            width: 150px;
            margin-left: -70px;
    	}
       
      }
  

    .develop {
    	margin-top: 30px;
       .emplo3 {
          margin-left: 70px;
       }
        .emplo4 {
        	margin-top: 170px;
       	    margin-left: -74px;
       }
        .emplo5 {
       	  margin-top: 340px;
       	  margin-left: -218px;
       }
       .info3 {
          width: 150px;
          margin-left: 144px;
       }
        .info4 {
        	margin-top: 170px;
       	     width: 150px;
       	     margin-left: 1px;
       }
        .info5 {
       	   margin-top: 340px;
       	   width: 150px;
       	   margin-left: -140px;
       }
    }
     .uxd {
        .emplo6 {
           margin-left: -3px;
        }
        .info6 {
           width: 150px;
           margin-left: 75px;
           
        }
        .emplo7 {
           margin-top: 170px;
           margin-left: -147px;
        }
        .info7 {
            width: 150px;
            margin-top: 170px;
            margin-left: -70px;
        }
    }
  }


   @media (min-width: 50px) and (max-width: 299px) {
    .ceos {
    	.emplo2 {
    		margin-top: 170px;
    		margin-left: -80px;
    		margin-top: 340px;
    	}
    	.info1 {
    		margin-left: -41px;
    		width: 150px;
            margin-top: 150px;
    	}
    	.info2 {
    		margin-top: 490px;
            width: 150px;
            margin-left: -121px;
    	}
       
      }
  

    .develop {
    	margin-top: 30px;
       .emplo3 {
          margin-left: 70px;
       }
        .emplo4 {
        	margin-top: 170px;
       	    margin-left: -74px;
       }
        .emplo5 {
       	  margin-top: 340px;
       	  margin-left: -218px;
       }
       .info3 {
          width: 150px;
          margin-left: 144px;
       }
        .info4 {
        	margin-top: 170px;
       	     width: 150px;
       	     margin-left: 1px;
       }
        .info5 {
       	   margin-top: 340px;
       	   width: 150px;
       	   margin-left: -140px;
       }
    }
     .uxd {
        .emplo6 {
           margin-left: -3px;
        }
        .info6 {
           width: 150px;
           margin-left: 75px;
           
        }
        .emplo7 {
           margin-top: 170px;
           margin-left: -147px;
        }
        .info7 {
            width: 150px;
            margin-top: 170px;
            margin-left: -70px;
        }
    }
  }









    .column {
       @include outer-container;
    }
    .column6 {
       @include span-columns(6);
    }

    .column4 {
       @include span-columns(4);
    }

    .column2 {
       @include span-columns(2);
    }

    .column8 {
       @include span-columns(8);
    }

    .column10 {
       @include span-columns(10);
    }

    .column3 {
       @include span-columns(3);
    }

    .column5 {
       @include span-columns(5);
    }

    .column1 {
       @include span-columns(1);
    }

    .column9 {
       @include span-columns(9);
    }

    .column7 {
       @include span-columns(7);
    }

  
